
<%= form_with model: @artist, local: true do |form| %>

  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@artist.errors.count, "error") %> prohibited
        this artist from being saved:
      </h2>
      <ul>
        <% @artist.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :group_id %><br>
    <%= form.text_field :group_id %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<br>
<%= link_to 'Groups', groups_path %>
<br>

