<h1>All artists</h1>

<%= link_to 'New artist', new_artist_path %>
<h2></h2>
<table>
  <tr>
    <th>ID</th>
    <th>Artist</th>
    <th>Group</th>
  </tr>

  <% @artists.each do |artist| %>
    <tr>
      <td><%= artist.id %></td>
      <td><%= artist.name %></td>
      <td><%= artist.group_id %></td>
      <td><%= link_to 'Show', artist_path(artist) %></td>
    </tr>
  <% end %>
</table>
